@import url(https://fonts.googleapis.com/css?family=Caveat:size=30);
*{
  margin: 5px;
  padding: 0px;-
}
.grid{
  display: inline-grid;
  grid-template-columns: 320px 99% 320px;
  grid-template-rows: 220px auto;
  grid-template-areas:
  "logo ban login"
  "menu main ad";
}

.logo{
  grid-area: logo;
  background-color: white;
  padding: 7px;
}
.banner{
  grid-area: ban;
  background-color: white;
  padding: 7px;

}
.login{
  grid-area: login;
  background-color: white;

}
.menu{
  grid-area: menu;
  background-color: white;
  font-size: 30px;
}
.main {
  grid-area: main;
  background-color: white;
}
.home, .about, .news{
  width:100%;
  padding-left: 25px;
  text-align: left;
  border: 0px solid white;
  border-bottom: 1px solid rgb(50, 50, 50);
  height:50px;
  background-color: white;
}
.pbar{
  color:white;
  width:100%"
}
.input1{
  width:280px;
  margin-top:60px;
  margin-left:10px;
  height:45px;
  border-radius: 10px;
  border-color: rgb(38, 86, 162);
  border:1px solid rgb(38, 86, 162);
  font-size:20px;
}

.about-text{
  margin-left: 20px;
  font-size: 40px;
}
.en{
  font-family: 'Caveat';
}


#login/register_form{
width: 700px;
}
